<mat-card>
  <mat-card-header>
    <mat-card-title>{{restaurant.name | uppercase}}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="restaurant.phone"> T: <a href="tel:{{restaurant.name}}">{{restaurant.phone}}</a>&nbsp;</span>

     <span *ngIf="restaurant.website"> W:<a href="{{restaurant.website}}" target="_blank"> {{restaurant.name}}</a>
    </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content><br>
    <p *ngIf="restaurant.location"> Address: <br>
      <span *ngIf="restaurant.location.streetNumber">{{restaurant.location.streetNumber}} </span>
      <span *ngIf="restaurant.location.streetName">{{restaurant.location.streetName}}</span>
      <span *ngIf="restaurant.location.apartment"> Apt:{{restaurant.location.apartment}}</span><br>
      <span *ngIf="restaurant.location.city">{{restaurant.location.city}} </span>
      <span *ngIf="restaurant.location.province"> {{restaurant.location.province}}</span><br>
      <span *ngIf="restaurant.location.country">{{restaurant.location.country}}</span><br>
      <br>
      Rating:  {{restaurant.rating}} <br>
     Price Range: {{restaurant.avgMealPrice}}
    </p>
  </mat-card-content>
</mat-card>
<br>
